.property-price {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    font-size: 15px;
    top: -5px;
    left: 35px;
    background-color: rgb(16, 154, 51);
    border: 1px solid gray;
    border-radius: 50px;
    height: 20px;
    width: 20px;
}