.categories-left {
    border: solid 1px whitesmoke;
    background-color: whitesmoke;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.categories-right {
    background-image: url(./img/salmon-flilled.jpg);
    background-size: cover;
    box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
    color: white;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
}
.right-title{
    position: absolute;
    top: 350px;
    left: 500px;
}

.right-title > h1 {
    font-size: 40px;
}

.right-title > h5 {
    font-size: 25px;
}

.right-text{
    font-size: 14px;
    position: absolute;
    top: 450px;
    left: 500px;
    width: 400px;
    color: whitesmoke;
}

.line-svg {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
    
}


.vegetable:hover{
    color: green;
    font-size: large;
}

.fruits:hover{
    color: green;
    font-size: large;
}

.drink:hover{
    color: green;
    font-size: large;
}

.bee:hover{
    color: green;
    font-size: large;
}

@media screen and (max-width: 648px) {
    .categories-right {
        display: none;
    }
    .farm-fresh {
        display: flex;
        flex-direction: column;
    }

    .farm-fresh ul {
        flex-direction: column;
    }

}
